/*tabs.css*/
.tab{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	visibility: hidden;
	padding: 10px;
	background-color: transparent;
}
/* Home Tab */
#home-head{
	font-size: 72px;
	font-family: 'Days One', sans-serif;
	font-weight: bold;
	color: #02ACFE;
	position: absolute;
	top: 250px;
	left: 50px;
	opacity: 0.0;
}
#home-sub{
	font-size: 32px;
	font-family: 'Days One', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	color: white;
	position: absolute;
	top: 350px;
	left: 100px;
	opacity: 0.0;
}
/* Discover and Latest Tabs */
#latest{
}
.showbar{
	height:600px;
	/*background-color: rgba(240, 240, 240, 0.7);*/
	overflow-y: hidden;
	width: 3900px;
	white-space: nowrap;
}
.showbar-col{
	height: 600px;
	float: left;
	display: block;
}
.showbar-col-first{
	margin-left: 50px;
}
.showbar-item{
	height: 275px;
	width: 275px;
	margin: 4px 2px;
	font-family: 'Days One', sans-serif;
	position: relative;
	overflow: hidden;
}
.showbar-item-playbtn{
	position: absolute;
	left: 15px;
	top: 15px;
	background-color: rgba(20, 20, 20, 0.4);
	background-image: url('data/images/web/playbtn.png');
	background-size: 100% 100%;
	height: 45px;
	width: 45px;
	z-index: 10;
}
.showbar-item-playbtn:hover{
	background-color: rgba(02, 172, 254, 1.0);
	box-shadow: 0 0 1px 1px #02ACFE;
}
.showbar-item-albumcover img, .showbar-item-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.showbar-item-overlay{
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}
.showbar-item-details{
	position: absolute;
	bottom: 0px;
	/*background-color: rgba(250, 250, 250, 0.8);*/
	color: black;
	text-shadow: 0px 1px black;
	width: 100%;
	text-align: center;
	margin-bottom: -26px;
}
.showbar-item-type{
	text-align: left;
	position: absolute;
	top: -32px;
	width: auto;
	padding: 2px 10px;
	text-transform: uppercase;
	font-family: 'Days One', sans-serif;
	font-size: 22px;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-shadow: none;
}
.showbar-item-track{
	font-size: 32px;
	font-family: 'Days One', sans-serif;
	color: #02ACFE;
}
.showbar-item-artist{
	font-style: italic;
	font-size: 24px;
	font-family: 'Days One', sans-serif;
}

.showbar-item:hover .showbar-item-details{
	background-color: transparent;
	color: white;
}
.showbar-item:hover .showbar-item-type{
	background-color: rgba(0, 0, 0, 0.9);
}
.showbar-item:hover .showbar-item-type:hover{
	background-color: #02ACFE;
}
.showbar-item:hover .showbar-item-track{
	color: white;
}

/* The Search Tab */
#search{
	background-color: rgba(235, 235, 235, 0.4);
	color: white;
}
#search-query{
	font-size: 72px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #AAA;
	color: #FFF;
	width: 98%;
}
#search-showcase{
	overflow: hidden;
	height: 400px;
	overflow-x: auto;
	overflow-y: hidden;
	color: black;
	margin: 20px auto;
}
.showcase-case{
	float: left;
	padding: 5px;
	background-color: #E8E8E8;
	margin-left: 15px;
	margin-right: 15px;
	width: 300px;
	height: 400px;
	border-radius: 2px;
}
.showcase-case ul{
	margin-top: 5px;
	height: 360px;
	list-style-type: none;
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/
}
.showcase-case h5{
	font-size: 24px;
	font-family: Verdana, sans-serif;
	border-bottom: 1px solid black;
	color: #02ACFE;
	padding: 5px;
}
.showcase-case-item{
	text-align: left;
	margin: 2px 0px;
	border-left: 5px solid transparent;
	overflow: hidden;
	font-size: 16px;
	padding: 5px;
	position: relative;
	width: auto;
}
.showcase-case-item:hover{
	background-color: #FFFFFF;
	cursor: pointer;
}
.showcase-case-item-typebook:hover{
	border-left: 5px solid green;
}
.showcase-case-item-typetrack:hover{
	border-left: 5px solid blue;
}
.showcase-case-item:hover .showcase-case-item-type{
	color: #02ACFE;
}
.showcase-case-item-albumcover img{
	height: 45px;
	width: 45px;
	float: left;
}
.showcase-case-item-playbtn{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url('data/images/web/playbtn.png');
	height: 45px;
	width: 45px;
	display: none;
}
.showcase-case-item-type{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 16px;
	font-family: 'Days One', sans-serif;
}
.showcase-case-item-type:hover{
	color: #02ACFE;
}

.showcase-case-item-albumcover:hover .showcase-case-item-playbtn{
	display: block;
}
.showcase-case-item-details{
	margin-left: 50px;
	padding-right: 40px;
}
.showcase-case-item-track{
	font-weight: bold;
	padding-left: 5px;
	float: left;
	clear: right;
	text-transform: uppercase;
}
.showcase-case-item-track:hover{
	color: #02ACFE;
}
.showcase-case-item-artist{
	font-style: italic;
	padding-left: 10px;
	float: left;
}
.showcase-case li{
	position: relative;
}
.showcase-case li:hover .showcase-case-description{
	display: block;
}
/* showcase descriptions */
.showcase-case-description{
	display: none;
	position: absolute;
	top: 15px;
	left: 25px;
	background-color: #CCC;
	color: black;
	z-index: 35;
	width: 450px;
	box-shadow: 0 0 10px #02ACFE;
	padding: 0px 5px;
}
.showcase-case-desc-type{
	background-color: white;
	font-family: 'Days One', sans-serif;
	padding: 2px;
	padding-left: 20px;
	margin-bottom: 15px;
}
.showcase-case-desc-cover{
	width: 100px;
	float: left;
}
.showcase-case-desc-coverimage{
	height: 100px;
	width: 100px;
}
.showcase-case-desc-album, .showcase-case-desc-track, .showcase-case-desc-artist, .showcase-case-desc-genre, .showcase-case-desc-production{
	font-family: 'Days One', sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.showcase-case-desc-album span, .showcase-case-desc-track span, .showcase-case-desc-artist span, .showcase-case-desc-genre span, .showcase-case-desc-production span{
	font-family: 'Days One', sans-serif;
	font-weight: normal;
}
.showcase-case-desc-details{
	margin-left: 120px;
}
.showcase-case-desc-track{
	font-size: 28px;
}